@import url(https://db.onlinewebfonts.com/c/ba42d447ceb2312b8e3d7317fd8e59a0?family=Nicotine);
@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px; 
    font-family: 'Nunito';   
}
header{
    background: url(./Images/about\ banner.webp) no-repeat center/cover;
    min-height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.092);
    padding: 10px 6%;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
}

nav .logo{
    width: 12%;
}
nav img{
    width: 100%;
    height: 100%;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 40px;
}
.nav-links a{
    color: white;
}

a{
    text-decoration: none;
}
header h1{
    color: white;
    font-size: 3rem;
    font-family: 'Nicotine';
    font-weight: normal;
    padding-top: 13rem;
    padding-left: 6rem;
    letter-spacing: .2rem;
}

.main-1 {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    gap: 5rem;
}

.section {
    display: flex;
    gap: 3rem;
}
.image{
    width: 120rem;
    height: 10rem;
}
.image img{
    padding: 40px;
    margin-left: 3rem;
    width: 30rem;
}
.text1 p{
    font-size: 19px;
    font-family: 'Nunito';
    color: rgb(99, 93, 93);
    padding-right: 20px;
    height: 10rem;
    padding-top: 1.5rem;
}

.section-reverse {
    display: flex;
    gap: 3rem;
}
.image1 img{
    height: 95%;
    width: 90%;
    margin-left: 1rem;
}
.text2{
    width: 43rem;
    height: 25rem;
}
.text2 p{
    font-size: 19px;
    font-family: 'Nunito';
    color: rgb(99, 93, 93);
    padding-right: 20px;
    height: 10rem;
    padding-top: 1.5rem;
}
.section2 {
    display: flex;
}
.image2 img{
    height: 95%;
    width: 95%;
}
.text3{
    width: 43rem;
    height: 25rem;
    margin-right: 5rem;
}
.text3 p{
    font-size: 19px;
    font-family: 'Nunito';
    color: rgb(99, 93, 93);
    padding-right: 20px;
    height: 10rem;
    padding-top: 10rem;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
  padding-top: 2rem;
  font-family: 'Nunito';
}

.final {
    display: flex;
    margin-bottom: 2rem;
    gap: 15rem;
    color: rgb(51, 47, 47);
}

.address .location-block p {
  margin: 8px 0;
  font-size: 18px;
  font-family: 'Nunito';
}

.city {
  font-weight: bold;
  display: inline-block;
  width: 130px;
  font-size: 24px;
  font-family: 'Nunito';
}

.hours {
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Nunito';
  padding-left: 1.5rem;
}
.follow{
    width: 17rem;
}
h3 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-top: 7rem;
  font-family: 'Nunito';
  font-weight: normal;
}
.social-media{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
footer{
    background: linear-gradient(to right, rgb(236, 20, 56) ,hotpink);
    padding: 1rem;
    color: white;
    text-align: center;
}

@media (max-width:576px){
    *{
        font-size: 20px
    }
    header{
        height: 135vh;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav .logo{
        width: 60%;
    }
    header h1{
        font-size: 28px;
        padding-right: 5rem;
    }
    .main-1 {
        padding: 0rem;
        gap: 0%;
    }
    .section{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 4rem;
        flex-direction: column;
        text-align: center;
        height: 22rem;
    } 
    .section-reverse{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 5rem;
        flex-direction: column;
        text-align: center;
        height: 40rem;
        margin-top: 0%;
        padding-top: 0%;
        
    } 
    .section2 {
        display: flex;
        align-items: center;
        gap: 0rem;
        margin-bottom: 0rem;
        flex-direction: column;
        text-align: center;
        margin-top: 0%;
        padding-top: 8%;
    }
    .image{
        width: 19rem;
        padding-right: 9rem;
        height: 5rem;
    }

    .image img{
        max-width: 180%;
        padding: 0%;
        margin: 0%;
        display: block;
        padding-left: 1rem;
        margin-top: 2rem;  
    }
    .image1 img{
        width: 90%;
        max-width: 160%;
        padding-left: 0%;
        margin-right: 1rem;
    }
    .image2 img {
        width: 90%;
        max-width:500px;
    }

    .text1{
        flex: 1;
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 0 1rem;
        font-size: 1rem;
    } 
    .text2{
        flex: 1;
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 0 1rem;
        font-size: 1rem;
        height: 30rem;
        margin-bottom: 10rem;
        width: 19rem;
    }
    .text3 {
        flex: 1;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-size: 1rem;
        height: 15rem;
        width: 18rem;
        padding: 0%;
        margin: 0%;
    }
    

    .main-1 {
        padding: 1rem 0;
    }
    .text1{
        height: 70px;
        margin-bottom: 10rem;
    }
    .text1 p{
        margin-bottom: 5rem;
    }
    .text3 p{
        margin-top: 0%;
        padding-bottom: 10rem;
        height: 0rem;
        margin-bottom: 5rem;
    }
    .final{
        padding: 1rem;
        display: block;
    }
}