@import url(https://db.onlinewebfonts.com/c/ba42d447ceb2312b8e3d7317fd8e59a0?family=Nicotine);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
}
header{
    background: url(./Images/app-link-background.svg) no-repeat center/cover;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.092);
    padding: 10px 6%;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
}
nav .logo{
    width: 12%;
}
nav img{
    width: 100%;
    height: 100%;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 40px;
}
.nav-links a{
    color: white;
}

a{
    text-decoration: none;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
    height: 100vh;
}

.header-content h1{
    font-size: 4.5rem;
    font-family: 'Nicotine';
    font-weight: normal;
    letter-spacing: .1rem;
    margin-top: 8rem;
}
.header-content a{
    background-color: hotpink;
    color: white;
    padding: 10px 20px;
    border-radius: .5rem;
}

img[alt="ios-store"]{
    height: 4.8rem;
    width: 225px;
}
.playstore{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-left: 21px;
}

.features{
    padding: 2rem;
    min-height: 80vh;
}

.features h1, .connect h1{
    font-size: 3rem;
    text-align: center;
}
.features .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
    min-height: 70vh;
   
}
.features img{
    width: 7rem;
    margin-bottom: 2rem;
}
.features p{
    font-size: 1.2rem;
}
.banner-1{
    background: url(./Images/banner-1.webp) no-repeat center/cover;
    min-height: 140vh;
}
.banner-1 h1{
    font-size: 5.5rem;
    font-family: 'Nicotine';
    font-weight: normal;
    letter-spacing: .1rem;
    color: white;
    text-align: center;
    padding-top: 24rem;
}

.banner-2{
    background: url(./Images/banner-2.webp) no-repeat center/cover;
    min-height: 140vh;
}
.banner-2 h1{
    font-size: 5.5rem;
    font-family: 'Nicotine';
    font-weight: normal;
    color: white;
    text-align: center;
    padding-top: 24rem;
}

.banner-2 a{
    color: white;
    padding: 15px 30px;
    border-radius: 3rem;
    margin-left: 37rem;
    font-size: 28px;
    border: white solid;
}
.menu{
    margin-top: 13rem;
}
.connect{
    padding: 3rem;
    margin: 1rem 2rem;
}

.connect h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.connect .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem ;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 3rem;
    line-height: 1.5rem;
}
.connect input{
    padding: 10px 20px;
    border-radius: 2rem;
    outline: none;
    border: 1px solid black;
    margin-top: 1rem;
    width: 100%;
}
.email-sec{
    position: relative;
    width: 80%;
}
#email-btn-image{
    height: 2.4rem;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.d-flex, .social-media{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
footer{
    background: linear-gradient(to right, rgb(236, 20, 56) ,hotpink);
    padding: 1rem;
    color: white;
    text-align: center;
}





/* mobile screen responsive code */

@media (max-width:576px){
    *{
        font-size: 20px
    }
    header{
        height: 135vh;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav .logo{
        width: 60%;
    }
    .header-content h1{
        font-size: 2.4rem;
        text-align: center;
        margin-top: 35vh;
    }
    .header-content{
        gap: 2rem;
        height: 90vh;
    }
    .playstore img{
        width: 42%;
    }
    img[alt="ios-store"]{
        height: 3rem;
    }
    .features .inner{
        flex-direction: column;
        margin-top: 2rem;
    }
    .connect .grid{
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    #email-btn-image{
        right: 0px;
    }
    .banner-1 h1{
        font-size: 2rem;
    }
    .banner-2 h1{
        font-size: 2rem;
    }
    .menu a{
        margin-left: 3.5rem;
    }
    .connect h1{
        font-size: 2rem;
    }
}



